#countrys {
    display: grid;
    padding: 1rem 4rem;
    gap: 6rem;
    grid-template-columns: repeat(4, 1fr);
    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, 
                    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;  
        border-radius: 10px;   
        img {
            max-width: 275px;
            height: 150px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        } 
        h2 {
            margin-bottom: 1.5rem ;
        } 
        .countryData {
            padding: 1.5rem; 
            p:not(:last-child) {
                margin-bottom: .8rem;
            } 
        }
        
    } 
}
 
